---
---
<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="utf-8" />
  <title>Notes ikdoeict</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="mobile-web-app-capable" content="yes" />
  <!-- todo: favicon -->
  <link rel="apple-touch-icon" href="assets/apple-touch-icon.png" />
  <link rel="icon" href="assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon.png" />

  <link rel="stylesheet" href="src/style.css">
</head>
<body>
  <h1><a href="https://github.com/ikdoeict-notes">ikdoeict notes</a></h1>
  <p>Alle notities handig voor de richting elektronica-ict aan Odisee Gent</p>
  <section class="repos">
    <h2>De vakken:</h2>
    <div class="search">
      <input type="text" placeholder="zoek een vak">
      <!-- <button>zoek</button> -->
    </div>
    <div class="repos--list">
      <!-- {% assign repos = site.github.public_repositories | sort: 'created_at' | reverse %} -->
      {% for repo in site.github.public_repositories %}
      {% unless repo.fork %}
      <article>
        <h2><a href="{{ repo.html_url }}">{{repo.name}}</a></h2>
        {% if repo.homepage.size > 0 %}
        <a href="{{repo.homepage}}">site</a>
        {% elsif repo.has_pages %}
        <a href="https://ikdoeict.github.io/{{ repo.name }}">site</a>
        {% endif %}
        <p>{{ repo.description}}</p>
      </article>
      {% endunless %}
      {% endfor %}
    </div>
  </section>
  <footer>
    <a href="http://onderwijsaanbod.odisee.be/opleidingen/n/SC_51531545.htm#bl=all">Onderwijsaanbod</a>
    <p>Originele versie: <a href="https://haroen.me/notes-eoict">https://haroen.me/notes-eoict</a></p>
    <p>Vind ons op <a href="https://github.com/ikdoeict-notes">github.com/ikdoeict-notes</a></p>
    <p>Mogelijk gemaakt door: </p>
    <div class="contributors">
      {% for user in site.github.contributors %}
      <a href="{{user.html_url}}"><img src="{{user.avatar_url}}" alt="" title="{{user.login}}"></a>
      {% endfor %}
    </div>
  </footer>
  <script src="src/main.js"></script>
</body>
</html>
