---
---
$accent: #6ABED8;
$light: #F0F0F0;

body {
  font-family: system, -apple-system, Roboto, sans-serif;
  max-width: 60em;
  margin: 0 auto;
  text-align: center;
}

a {
  color: $accent;

  &:visited {
    color: darken($accent,10%);
  }
}

h1 a {
  color: inherit;
  text-decoration: none;

  &:visited {
    color: inherit;
  }
}

.search {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 1em;

  input {
    font-size: 3em;
    border-radius: .2em;
    padding: .2em;
    border: 0;
    box-shadow: black 0 0 0 1px inset;
    width: 100%;

    &:focus {
      box-shadow: black 0 0 0 2px inset;
      outline: none;
    }
  }
}

.hidden {
  display: none;
}

.repos {

  &--list {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;

    justify-content: center;
  }

}

article {
  padding: 1em;
  margin: .2em;
  background-color: $light;
  border-radius: .2em;
  word-wrap: break-word;
}

footer {
  font-size: .8em;
  padding: 1em;

  img {
    border-radius: 100%;
    width: 3em;
    height: 3em;
  }
}